In [1]:
import pandas as pd

In [7]:
df = pd.read_csv("C:/Users/ilham/Pictures/datads.csv")

In [8]:
df.head()

,Jenis,Golongan,PMK Lama (Rp),PMK Baru (Rp),Perubahan (%)
0,Sigaret Kretek Mesin (SKM),I,590.0,740.0,25.42
1,Sigaret Kretek Mesin (SKM),II,385.0,470.0,22.80
2,Sigaret Kretek Mesin (SKM),III,370.0,455.0,22.97
3,Sigaret Putih Mesin (SPM),I,625.0,790.0,26.40
4,Sigaret Putih Mesin (SPM),II,370.0,485.0,31.08

In [10]:
df.loc[1]

Jenis            Sigaret Kretek Mesin (SKM)
Golongan                                 II
PMK Lama (Rp)                           385
PMK Baru (Rp)                           470
Perubahan (%)                          22.8
Name: 1, dtype: object

In [11]:
df.loc[2]

Jenis            Sigaret Kretek Mesin (SKM)
Golongan                                III
PMK Lama (Rp)                           370
PMK Baru (Rp)                           455
Perubahan (%)                         22.97
Name: 2, dtype: object

In [12]:
df.loc[4]

Jenis            Sigaret Putih Mesin (SPM)
Golongan                                II
PMK Lama (Rp)                          370
PMK Baru (Rp)                          485
Perubahan (%)                        31.08
Name: 4, dtype: object